@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");
@import url("https://db.onlinewebfonts.com/c/4944f4308352f169f622b1f098fa2203?family=Formula1+Display+Wide");

.cards-container {
  margin-block: 3rem;
}

.cards-outer h1 {
  color: #ed1c24;
  font-family: "Formula1 Display Wide";
  font-size: 4vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  padding-inline: 4rem;
  /* display: flex; */
  /* width: 100%; */
}
.cards-inner svg:nth-child(1),
.cards-inner svg:nth-child(3) {
  animation: float 6s ease-in-out infinite;
}
.cards-inner svg:nth-child(2) {
  animation: float2 6s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float2 {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(20px);
  }
  100% {
    transform: translatey(0px);
  }
}
.cards-inner {
  padding-top: 3rem;
  padding-inline: 10%;
  background-image: url("./assets/background-1.png"),
    url("./assets/background-2.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left, right;
  background-size: contain;

  padding-bottom: 1rem;
  display: flex;
}

.subhead-sch {
  font-size: 26px !important;
  color: white !important;
  animation: race 5s ease-in-out infinite;
}
.subhead-sch-l {
  font-size: 38px !important;
  animation: race 5s ease-in-out infinite;
}
@keyframes race {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}
.cards {
  padding-inline: 10px;
}

#text {
  transform-origin: center;
  fill: white;
  transform: translate(6.8rem, 7rem) /* rotate(-7.187deg) */;
  font-family: "Racing Sans One", sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

#sub-text text {
  fill: #fdfdfd;
  font-family: "Racing Sans One", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.cards-inner image {
  /* filter: brightness(0.8); */
}

@media (max-width: 400px) {
  .cards-outer {
    width: 100%;
  }
  .cards-inner {
    flex-direction: column;
    gap: 1rem;
    background-image: none;
  }

  .cards-outer h1 {
    font-size: 9vw;
    text-align: center;
  }
}
