#links {
  display: flex;
  flex-direction: column;
  width: 2dvw;
  gap: 10px;
}
#Footer {
  display: flex;
  flex-direction: column;
  background-color: #232323;
  align-items: center;
}

#quickLinks h3 {
  font-size: 2rem;
}
#quickLinks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#logos {
  margin-top: 3dvw;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5dvw;
  gap: 10rem;
  align-items: center;
}
#logos .logo:nth-child(1) {
  margin-left: 7rem;
}
#logos .logo:nth-child(2) {
  width: 15rem;
  height: 5rem;
}
#logos .logo:nth-child(3) {
  margin-right: 7rem;
  width: 6rem;
}

#contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.logo {
  width: 10dvw;
}

a {
  text-decoration: none;
  color: aliceblue;
  font-size: 1.5dvw;
}

#copyright {
  margin-top: 3dvw;
  font-size: 3dvw;
}

@media screen and (max-width: 500px) {
  #logos .logo:nth-child(1) {
    margin-left: 0rem;
    width: 4rem;
  }
  #logos .logo:nth-child(2) {
    width: 5rem;
    height: 1.7rem;
    margin-right: 1rem;
  }
  #logos .logo:nth-child(3) {
    margin-right: 0rem;
    width: 3rem;
  }
  #logos {
    gap: 0;
    justify-content: space-around;
  }
  #links a img {
    width: 1rem;
  }
  #links {
    position: absolute;
    left: 7%;
    top: 10%;
  }
  #info {
    flex-direction: column;
    gap: 2rem;
  }
  #Footer {
    position: relative;
  }
  #contact a {
    font-size: 1rem;
    text-align: center;
  }
  #quickLinks a {
    font-size: 1rem;
    text-align: center;
  }
  #copyright {
    margin-bottom: 2rem;
  }
}
