@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Racing Sans One", cursive;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: none;
  justify-content: space-around;
  /* padding-top: 22rem; */
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  /* changes */
  background: url(./assets/bg.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.front {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 17dvw;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: row;
  transform: rotate(-90deg);
  gap: 25px;
  position: absolute;
  left: -165px;
  z-index: 10;
  top: 50%;
}

.link {
  text-decoration: none;
  font-family: var(--mega);
  transition: 0.3s;
}
.link:hover {
  text-decoration: underline;
  color: #1900ff;
}

.cars {
  width: 100dvw;
  display: flex;
  justify-content: space-between;
  /* gap: 1dvw; */
  align-items: end;
  position: relative;
}

#hero-text {
  font-size: 10dvw;
  padding: none;
  font-style: normal;
  animation: sizeChange 25s infinite, stick 6s;
  z-index: 1;
  position: absolute;
  top: 70%;
  font-family: var(--mega);
  color: yellow;
}
@keyframes stick {
  0% {
    position: fixed;
    top: 50%;
  }
  90% {
    top: 50%;
    position: fixed;
  }
  100% {
    top: 50%;
    position: relative;
  }
}
@keyframes sizeChange {
  0%,
  100% {
    font-size: 10dvw; /* Start and end with font-size 5dvw */
    top: 25%;
  }
  50% {
    font-size: 12dvw; /* Peak font-size of 10dvw */
    top: 25%;
  }
}

#hero-subtext {
  font-size: 2dvw;
  animation: fade-in 5s;
  font-family: var(--transformersMov);
  text-align: center;
  margin-top: 22rem;
  letter-spacing: 2px;
  color: rgb(255, 247, 0);
}

.car {
  width: 40dvw;
  max-width: 100%;
  opacity: 1; /* 0.3 */
  background: transparent;
  margin-top: -50px;
}

#img-1 {
  animation: fade-in-left 15s;
  margin-bottom: 20px;
}

#img-2 {
  animation: fade-in-right 15s;
  width: 38%;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translate(-10dvw, -4dvh);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translate(10dvw, -4dvh);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@media screen and (max-width: 500px) {
  .landing {
    height: 92vh;
    padding: 0;
  }
  #hero-subtext {
    font-size: 1rem;
    text-align: center;
    padding: 0 1.5rem;
    margin-top: 5rem;
  }
  #hero-text {
    top: 15rem !important;
  }
  .links .link {
    font-size: 1rem;
  }
  .links {
    left: -114px;
    top: 12rem;
  }
  .cars {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
    margin-top: 2rem;
  }
  .car {
    width: 100%;
  }
  .car:nth-child(2) {
    width: 90% !important;
    margin-left: 3rem;
  }
}
