.upcoming-events {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upcoming-events h1 {
  color: white;
  display: flex;
  width: 92%;
  /* margin-left: 8rem; */
  font-family: var(--formulaWide);
  font-size: 4vw;
  color: #ed1c24;
}

.upcoming-events img {
  width: 50%;
  padding: 2rem 0;
}
