#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-x: hidden;
  padding-bottom: 4rem;
}
.about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2.5rem;
}
#upper-text {
  color: #b388f4;
  font-size: 2.67rem;
  font-family: var(--transformersMov);
  margin-top: 2rem;
}
#lower-text {
  margin-top: 10px;
  color: #e3d5f7;
  font-size: 1.8rem;
  text-align: center;
  font-family: var(--optimus);
  padding: 0 1.5vw;
  text-align: justify;
}
#box {
  background-color: aliceblue;
  height: 30dvw;
  width: 80%;
  aspect-ratio: 16/9;
  margin-bottom: 6dvw;
}

#about-text {
  color: #b388f4;
  font-size: 8vw;
  text-align: left;
  display: flex;
  width: 100%;
  align-items: flex-start;
  padding-left: 8rem;
  font-family: var(--mega);
}
.robo-poster {
  width: 70%;
  /* padding: 2rem 0; */
}

.treads {
  position: absolute;
  z-index: -1;
  right: -5rem;
  top: 38%;
}

#tread-2 {
  top: 10%;
}

@media screen and (max-width: 500px) {
  #lower-text {
    font-size: 1.2rem;
  }
  .about-text {
    padding: 0 1rem;
  }
  #upper-text {
    font-size: 1.6rem;
  }
  #about {
    padding-bottom: 0rem;
    overflow: hidden;
    height: 80vh;
    /* margin-top: 4rem; */
  }
  .treads {
    top: 82%;
  }
  #tread-2 {
    top: 49%;
  }
  .robo-poster {
    width: 80%;
  }
  #about-text {
    padding: 0;
    width: 90%;
  }
  #about {
    height: 115vh;
    padding-top: 2rem;
  }
}
